html{
    scroll-behavior: smooth;
}
body{
    color: red;
    background-color: dimgrey;
}
.backtotop-btn{
    position: fixed;
    width: 60px;
    height: 60px;
    right: 3%;
    bottom: 3%;
    border-radius: 50%;
    background-color: white;
    color: blueviolet;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s all;
    pointer-events: none;
}